.loading_spin {
    width: 100px;
    height: 100px;
    animation: Spin infinite 3s linear;
}

@keyframes Spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
